@inherits MiniRazor.TemplateBase<HotelTicketModel>
@namespace TicketService.Domain.Templates.HotelTicket

<html lang="dk">
<head>
    <title>HotelTicket</title>
</head>
<body>
<h1>@Model.HotelId</h1>
<h2>@Model.RoomId</h2>
</body>
</html>