@inherits MiniRazor.TemplateBase<CarTicketModel>
@namespace TicketService.Domain.Templates.CarTicket

<html lang="dk">
    <head>
        <title>CarTicket</title>
    </head>
<body>
    <h1>@Model.CarId</h1>
    <h2>@Model.RentingCompanyId</h2>
</body>
</html>