@inherits MiniRazor.TemplateBase<FlightTicketModel>
@namespace TicketService.Domain.Templates.FlightTicket

<html lang="dk">
<head>
    <title>FlightTicket</title>
</head>
<body>
<h1>@Model.FlightId</h1>
</body>
</html>